.merchrcust-salespop{
	position: fixed;
	bottom: 20px;
	left: 20px;
	height: 5rem;
	display: flex;
	background: #eee;
	padding: 10px;
	font-size: 0.8rem;
}

.merchrcust-salespop img{
	height: 100%;
	max-height: 100%;
	width: auto;
	margin-right: 1em;
}
